{% extends 'Viajeros/base/base.html' %}
{% load static %}

{% block titulo %}Viajeros{% endblock %}

{% block encabezado %}


{% endblock %}

{% block contenido %}

<h2 >Circuito Caminos del Vino</h2>
<h3>Recorré y disfrutá cada rincón de nuestra ciudad</h3>

<div >
    <p align="left"><img src="{% static 'Viajeros/img/caminos_del_vino3.jpg' %}" alt="caminos_del_vino3" width="40%">
    </p>
</div>

<div>
<h2>INFORMACIÓN</h2> 
<p>   «El vino siembra poesía en los corazones.» </p>
    <br>
    <p style="margin-bottom: 15px; 
       color: #686868; 
       font-family: lora, Verdana, Helvetica, Arial, sans-serif; 
       font-size: 14px; 
       font-style: normal; 
       font-weight: 400;">
     <strong>San Rafael</strong> es un terruño de inmejorables condiciones para la elaboración de 
     espumantes y vinos de alta calidad, este&nbsp; suelo tiene características excepcionales para 
     el desarrollo de la vitivinicultura, un clima óptimo y las manos laboriosas, hacen de San Rafael
      un vergel posicionado en el mercado nacional e internacional de vinos de indiscutida excelencia. 
      La tradición se une a la innovación para obtener productos de reconocidas características y premiados en varias ocasiones a nivel nacional e internacional.
      <br><strong>Caminos del Vino en San Rafael</strong> abre sus puertas a la tradición viñatera, 
      zonas rurales y la historia de nuestro hermoso Departamento.<br>Tanto las<em>&nbsp;bodegas 
        emblemáticas</em>&nbsp;de la zona, así como aquellas más pequeñas que pueden ser 
        consideradas&nbsp;<em>“boutique”&nbsp;</em>reciben hoy visitantes que se acercan a conocer 
        los procesos de producción a grande o pequeña escala y a degustar el amplio abanico de vinos.</p>
    						
    <br>
    Mendoza es una de las capitales mundiales del vino. Para quién visita esta provincia es un placentero deber, el conocer el proceso de producción y elaboración de nuestros vinos.
    <br>
    El paseo consta de visita a 3 Bodegas, las cuales serán seleccionadas según diagramación y disponibilidad de las mismas.
    <br>
    INCLUYE: Entradas, servicio de guìa y degustaciones.</p>
</div>
<br>

    <a href="{% url 'enviar_consulta' %}" class="btn btn-primary">Enviar Consulta</a>
{% endblock %}