{% load static %}

    <!-- Para barra navegacion: -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
       
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     
      <!-- <style>
        /* Style para navbar */
        .navbar a {
              color: rgb(255, 255, 255); 
              font-size: 15px; 
              font-family:Verdana, Geneva, Tahoma, sans-serif;
              
          }
        .navbar a:hover {
            background-color: rgb(12, 88, 139);  
            color: rgb(8, 2, 24);  
        }
        </style> -->


<!-- <body>   -->
 
      <nav  class="navbar navbar-expand-lg bg-primary-subtle" data-bs-theme="dark"> 
      <!-- <nav  class="navbar navbar-expand-lg bg-primary-subtle" data-bs-theme="dark">   -->

        
          <!-- <a class="navbar-brand" href="#">
            <img src="{% static 'Viajeros/img/viajeros.png' %}" alt="logo" width="35" heigth="35" >
          </a> -->
          <img src="{% static 'Viajeros/img/viajeros.jpg' %}" alt="logo" width="100" > 
         <!-- Boton Menu-->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="nav navbar-nav navbar-left">  
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="{% url 'nosotros' %}">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'alojamiento' %}">Alojamiento</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'gastronomia' %}">Gastronomia</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="{% url 'circuito_turistico' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Circuito_Turistico </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'circuito_turistico' %}">San Rafael</a></li>
                    <li><a class="dropdown-item" href="{% url 'ruta_del_vino' %}">Ruta del Vino</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Sitio de Interes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Mas Informacion</a></li> -->
                </ul>
              </li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li ><a href="{% url 'index' %}"> <i class="fa-solid fa-house-chimney"></i> Inicio</a></li>

              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="/user" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <span class="glyphicon glyphicon-user"></span> {{user.username}}</a>
                  
                    {% if user.is_superuser %}

                      <ul class="dropdown-menu">
                        
                        <li><a class="dropdown-item" href="{% url 'buscar_reservas_admin' %}">Buscar reservas</a></li>
                        
                      </ul>  
                    {% else %}
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'mi_cuenta' %}">Mi cuenta</a></li>
                        <li><a class="dropdown-item" href="{% url 'listar_reservas' %}">Mis reservas</a></li>
                      </ul> 

                    {% endif %} 
                </li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-in"></span> Salir</a></li>
              {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
             
              {% endif %} 
            </ul> 



        </div>
      </nav>
    


