{% load static %}



<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Section: Social media -->
<section class="d-flex justify-content-between justify-content-lg-between p-4 border-bottom">
  <!-- Left -->
  <div class="me-5 d-none d-lg-block">
    <span>Seguinos en Nuestras Redes Sociales</span>
  </div>
  <!-- Left -->

  <!-- Right -->
  <div class="d-flex justify-content-between">
    <a style="color: #00ffff;" href="https://www.facebook.com/" class="me-3 link-secondary">
      <i class="fab fa-facebook-f fa-2x"></i>
    </a>

    <a style="color: #00ffff;" href="https://www.twiter.com/" class="me-3 link-secondary">
      <i class="fab fa-twitter fa-2x"></i>
    </a>
    
    <a style="color: #00ffff;" href="https://www.google.com" class="me-3 link-secondary">
      <i class="fab fa-google fa-2x"></i>
    </a>
    
    <a style="color: #00ffff;" href="https://www.instagram.com/" class="me-3 link-secondary">
      <i class="fab fa-instagram fa-2x"></i>
    </a>
    
    <a style="color: #00ffff;"href="https://www.linkedin.com" class="me-3 link-secondary">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
    
    <a style="color: #00ffff;"href="https://github.com/ariasandrea97/Django_Grupo_6.git" class="me-3 link-secondary">
      <i class="fab fa-github fa-2x"></i>
    </a>
  </div>
  <!-- Right -->
</section>
<!-- Section: Social media -->

<!-- Section: Links  -->
<section class="">
  <div class="container text-center text-md-start mt-3">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase fw-bold mb-4">
          <i class="fas fa-gem me-3 text-secondary"></i>Somos Viajeros
        </h6>
        <p>
          Viajeros es una web especializada en ofrecer excursiones en la provincia de Mendoza. Nos diferenciamos del resto de las agencias de turiso
receptivo online porque contamos con oficina física y teléfonos de guardia las 24 hs. en la Ciudad de Mendoza, para asistirlo durante toda
su estadía
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">
          Products
        </h6>
        <p>
          <a href="{% url 'alojamiento' %}" class="text-reset">Alojamiento</a>
          
        </p>
        <p>
          <a href="{% url 'gastronomia' %}" class="text-reset">Gastronomia</a>
        </p>
        <p>
          <a href="{% url 'circuito_turistico' %}" class="text-reset">Excursiones</a>
        </p>
        <!-- <p>
          <a href="#!" class="text-reset">Laravel</a>
        </p> -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        
      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto  mb-4">
        <!-- Links -->
        <h6 class="text-uppercase fw-bold mb-4">Contacto </h6>
        <p><i class="fas fa-home me-3 text-primary text-aline-center"></i>Mendoza,CP,Republica Argentina</p>
        <p>
          <i class="fas fa-envelope me-3 text-primary text-aline-center"></i>
          info@example.com
        </p>
        <p><i class="fas fa-phone me-1 text-primary text-aline-center"></i> +0123456788</p>
        <p><i class="fas fa-print me-1 text-primary  text-aline-center"></i> +0123456789</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
</section>
<!-- Section: Links  -->

<!-- Copyright -->
<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
  © 2021 Copyright:
  <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  <p> Codo a codo 2023. Todos los derechos Reservados.</p>
</div>
<!-- Copyright -->
         
</footer>
   


 
